.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 25px 25px 0px 0px;
  color: white;
  margin-bottom: 30px;
}

.App-footer {
  background-color: #222;
  height: 100px;
  padding: 25px 0px 0px 0px;
  color: white;
  margin-top: 30px;
  text-align: center;
}

.App-title {
  font-size: 32px;
}

a {
  color: white;
  font-size: 16px;
  text-align: center;
}

.App-intro {
  font-size: large;
}

fieldset {
  position: relative;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  border: 4px solid silver;
  padding: 4px 4px 4px 4px;
  border-radius: 8px;
}

legend {
  padding: 2px;
  font-size: 16px;
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid black;
  background-color: white;
}

button:hover {
  background-color: lightgrey;
}

.outputDisplay {
  display: inline-block;
  width: 240px;
  padding: 16px 20px;
  box-sizing: border-box;
  border: 4px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}
